In [ ]:
#This file is a python notebook for all data linked to this project.

In [7]:
import os
from zipfile import ZipFile

# Make sure the data folder exists
os.makedirs("data", exist_ok=True)

# Download the dataset (only if not already downloaded)
if not os.path.exists("data/global-ai-and-data-science-job-market-20202026.zip"):
    !kaggle datasets download -d mann14/global-ai-and-data-science-job-market-20202026 -p data

# Unzip the dataset (only if not already unzipped)
zip_path = "data/global-ai-and-data-science-job-market-20202026.zip"
if os.path.exists(zip_path):
    with ZipFile(zip_path, "r") as zip_ref:
        zip_ref.extractall("data")

In [9]:
import pandas as pd

# Check what files are in the data folder
os.listdir("data")

# Load the CSV (adjust the filename as needed)
df = pd.read_csv("data/ai_jobs.csv")
df.head()

,job_id,job_title,company_type,industry,country,city,remote_type,experience_level,min_experience_years,salary_min_usd,salary_max_usd,employment_type,posted_year,company_size
0,0IFD0TVBDIVU,MLOps Engineer,Research Lab,Education,Australia,Remote,Remote,Entry,0,56873,72223,Full-time,2023,Large
1,ZMF8MDD4V30T,Data Analyst,Startup,Education,Germany,Remote,Remote,Entry,0,54803,85599,Full-time,2024,Medium
2,CX1945NQ4FMY,MLOps Engineer,Research Lab,Tech,Canada,Remote,Remote,Senior,5,149980,175806,Full-time,2021,Large
3,QJ7YHL1C32OC,Applied Scientist,Research Lab,Healthcare,Australia,Remote,Remote,Entry,0,53483,86477,Full-time,2023,Medium
4,F0T0PVN9ER14,Machine Learning Engineer,Research Lab,Finance,Australia,Sydney,Hybrid,Mid,2,102977,127298,Full-time,2023,Large